<form class="sign-up-form" action="/signup" method="POST">
    <h3>Sign Up</h3>
    <div class="fields">
        <input type="text" placeholder="Full Name" class="txtb" required>
        <input type="email" placeholder="Email" class="txtb" required>
        <input type="password" placeholder="Password" class="txtb" required>
        <input type="submit" value="Create Account" class="signup-btn">
    </div>
    <div class="links">
        <a href="/login">Already have an account?</a>
    </div>
</form>