/* Reset */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Main Toolbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: #fcf8e8;
  padding: 0 10px;
}

.logo {
}

.logo img {
  height: 32px;
}

nav {
}

nav > ul {
  list-style: none;
  text-align: right;
  padding: 20px 0 20px 0;
}

nav ul li {
  display: inline-block;
  padding: 0 20px 0 20px;
  font-size: 12px;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

nav li a:hover {
  color: #c1c1c1;
}

/* Banner */
.banner {
  margin-top: 60px;
}

.banner > .banner-img {
  width: 100%;
}

/* Message */
.message {
  text-align: center;
  font-size: 22px;
  color: crimson;
  margin-top: 20px;
}

/* Footer */
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
}

footer .social {
  display: flex;
}

footer .social img {
  width: 20px;
  height: 20px;
}

footer .social a + a {
  margin-left: 10px;
}

.footerText {
  padding-top: 16px;
}

/*Product Category Cards*/
.categories {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 260px));
  justify-content: space-evenly;
  grid-gap: 30px;
  margin: 0 auto;
  padding: 30px;
}

.category {
  border: 2px solid #fcf8e8;
}

.category img {
  width: 100%;
}

.category > .label-see-more {
  display: inline-block;
  padding-top: 10px;
  padding-left: 24px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #636363;
  max-width: 250px;
}

h1 {
  font-size: 16px;
  background-color: #fcf8e8;
  padding: 10px;
}

.image {
  max-width: 250px;
  margin: 15px 0 0 0;
}

/* PRODUCTS */
section.products,
section.cart {
  margin-top: 60px;
  padding: 30px;
}

section.products h2 {
  margin-bottom: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 260px));
  justify-content: center;
  grid-gap: 30px;
  margin-top: 30px;
}

section.products .product {
  padding: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  position: relative;
}

section.products .product .title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

section.products .product .title {
  color: #2282fd;
}

section.products .product .best-seller {
  color: red;
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

section.products img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  max-height: 80px;
}

section.products .product .price {
  margin-bottom: 15px;
  font-weight: bold;
}

section.products .product .description {
  font-size: 12px;
  line-height: 1.4;
}

section.products a {
  text-decoration: none;
  color: #2282fd;
}

section.products a:hover {
  text-decoration: underline;
}

/* Best Sellers Home Page*/
section.products.best-sellers {
  margin-left: 0;
  padding-bottom: 200px;
}

/** sub-categories **/
.sub-categories {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 60px;
  width: 200px;
  padding: 20px;
  background: white;
  border-right: 1px solid #e5e5e5;
}

.sub-categories ul {
  list-style: none;
}

.sub-categories > ul > li {
  text-transform: uppercase;
  font-weight: bold;
}

.sub-categories .level-2 a {
  text-decoration: none;
  color: #2282fd;
}

.sub-categories .level-2 a:hover {
  text-decoration: underline;
}

.sub-categories > ul > ul {
  padding-left: 20px;
  margin-top: 10px;
}

.sub-categories > ul > ul li + li {
  margin-top: 10px;
}

/* Products */
.user-details {
  padding: 40px;
}

.user-details h1 {
  text-align: center;
  margin-bottom: 20px;
}

.clerk-products {
  padding: 40px;
}

.clerk-products h2 {
  margin-bottom: 20px;
}

table.products {
  font-size: 12px;
  border-spacing: 0;
}

table.products th {
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  font-size: 12px;
  color: black;
  padding: 4px;
  background-color: #fcf8e8;
}

table.products td {
  padding: 4px;
}

table.products a {
  background-color: #ffdf2b;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  font-size: 12px;
  border-radius: 3px;
}

table.products a:hover {
  background: black;
  color: white;
}

section.edit-product {
  margin-top: 60px;
}

section.edit-product h2 {
  text-align: center;
  padding-top: 40px;
}

section.edit-product form {
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 20px;
}

/* RESPONSIVE */

/* Laptop */
@media only screen and (max-width: 1200px) {
  .categories {
    grid-template-columns: repeat(2, minmax(200px, 260px));
  }

  .products-grid {
    grid-template-columns: repeat(2, minmax(110px, 260px));
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  nav ul li {
    padding: 0;
  }

  .categories {
    grid-template-columns: repeat(1, minmax(200px, 260px));
  }

  .products-grid {
    grid-template-columns: repeat(1, minmax(110px, 260px));
  }

  .sub-categories {
    width: 140px;
  }

  .sub-categories > ul > li {
    font-size: 12px;
  }

  .sub-categories > ul > ul {
    padding-left: 0;
  }

  section.products {
    margin-left: 140px;
    padding-bottom: 80px;
  }
}
