<section class="form-style">
    <form class="small" action="/user/login" method="post">
        <h3>Log In</h3>
        <div class="fields">
            <input type="text" placeholder="Enter Email" name="email">
            <input type="password" placeholder="Enter Password" name="password">
            <input type="submit" value="Login"></button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <div class="errors">
                {{#each errors}}
                <div class="error">{{this}}</div>
                {{/each}}
            </div>
        </div>
        <div class="links">
            <a href="#">Forgot password?</a>
        </div>
    </form>
</section>