<aside class="sub-categories">
    <ul class="level-1">
        <li>Electronics</li>
        <ul class="level-2">
            <li class="sub-category"><a href="">Accessories</a></li>
            <li class="sub-category"><a href="">Camera & Accessories</a></li>
            <li class="sub-category"><a href="">Headphones</a></li>
            <li class="sub-category"><a href="">eBook Readers</a></li>
            <li class="sub-category"><a href="">Wearable Technology</a></li>
        </ul>
    </ul>
</aside>

<section class="products">
    <h2>Electronics</h2>
    <div class="products-grid">
        {{#each data}}
        <div class="product">
            <img src="/uploads/{{this.productImage}}" alt="Product image">
            <div class="title-wrapper">
                <a href="#">
                    <h3 class="title">{{this.productName}}</h3>
                </a>
                {{#if this.isBestSeller}}
                <div class="best-seller">Best Seller!</div>
                {{/if}}
            </div>
            <p class="price"><span style="vertical-align: super;">CDN$</span> {{this.price}}</p>
            <p class="description">{{this.description}}</p>
        </div>
        {{/each}}
    </div>
</section>