<section class="products" style="margin-top: 60px">
    <h2>Electronics</h2>

    <div class="products-grid">
        {{#each data}}
        <div class="product">
            <img src="/uploads/{{this.productImage}}" alt="Product image">
            <div class="title-wrapper">
                <a href="#">
                    <h3 class="title">{{this.productName}}</h3>
                </a>
                {{#if this.isBestSeller}}
                <div class="best-seller">Best Seller!</div>
                {{/if}}
            </div>
            <p class="price"><span style="vertical-align: super;">CDN$</span> {{this.price}}</p>
            <p class="description">{{this.description}}</p>
        </div>
        {{/each}}
    </div>
</section>